.DS_Store
.quarto/
_output/
!latex/rug-phd-thesis.tex
latex/*.aux
latex/*.log
latex/*.toc
latex/*.fls
latex/*.fdb_latexmk
latex/*.synctex.gz
latex/*.pdf
/.quarto/

.venv/
index.aux
thesis.aux
index.fdb_latexmk
thesis.fdb_latexmk
index.fls
thesis.fls
index.log
thesis.log
index.pdf
thesis.pdf
index.synctex.gz
thesis.synctex.gz
index.tex
thesis.tex
index.toc
thesis.toc
thesis.bbl
thesis.blg

chapters/original-chapters/*