/*-- scss:defaults --*/

.sidebar-title {
  color: #222322;
}

div.sidebar-item-container .active {
  font-weight: bold;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
  font-weight: bold;
}

img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

div.sidebar-item-container .active{
  color: #0099cc !important;
}

.sidebar-navigation a:hover{
  color: #ffa600 !important;
}

.nav-link.active {
  background-color: #9acc32 !important;
}

.footnotes{
  font-size: .9rem;
  color: var(--bs-gray-700);
}

// colours

// main
$primary: #0099cc !default;
$link-color: #0099cc;

// sidebar
$sidebar-hl: #ffa600 !default;

// table of contents

$toc-color: #000;
$toc-active-border: #0099cc;
$toc-active-background: #EEECEA!default;

// packages
// hex logo
.hex-logo{
  padding-right: 15px; 
  padding-left: 15px;
}

// data in this book
// download buttons
#download-button {
  border-width: 1.5px 1.5px 1.5px 1.5px;
  background-color: #9acc32;
  color: #fff;
  border-color: #0099cc;
}

.quarto-page-breadcrumbs {
    margin-bottom: 1em;
}